@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* CUSTOM PROPS CSS START  */
:root {
    --black: #000;
    --black1: #000;
    --white: #fff;
    --white1: #fff;
}

/* GLOBAL CSS START  */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", "Arial", sans-serif;
}

*,
*::after,
*::before {
    box-sizing:inherit;
}

*:focus {
    outline: 2px dashed #000;
    outline-offset: 3px;
}

html {
    height: 100%;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


/* SITE HEADING VISUALLY HIDDEN CSS STATR  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  

/* CONTAINER CSS START  */
.container {
    position: relative;
    width: 100%;
}

/* SAIT MAIN CSS START  */


/* Portfolio START  */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    background: var(--white1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navigation ul {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    padding: 20px 40px;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style-type: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    white-space: normal;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.5;
}

.navigation ul li a:hover {
    opacity: 1;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    background: var(--white);
    min-height: 100vh;
}

.main .topbar {
    position: fixed;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    background: var(--white2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.main .topbar .logo {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--black);
}
















